body {
  margin: 0;
  font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #737373;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  color: #8C8C8C;
}

.container {
  @media (min-width: 1200px) {
    max-width: 540px;
  }

  @media (min-width: 992px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 540px;
  }
}
